<div data-role="tabs">
    <div data-role="navbar">
        <ul>
            <li><a href="#login" class="ui-btn-active" data-theme="a" data-ajax="false">Login</a></li>
            <li><a id="register-tab" data-theme="a" data-ajax="false">Registrierung</a></li>
        </ul>
    </div>

    <div id="login" class="ui-content">
        <h1>Login</h1>
        <form class="login-form">
            <label for="inputEmail">Benutzername</label>
            <input type="text" id="inputEmail" placeholder="Benutzername">                  
            <label for="inputPassword">Passwort</label>
            <input type="password" type="password" id="inputPassword" placeholder="Passwort">    
            <hr />
            <button type="submit" id="loginButton" data-icon="power" data-iconshadow="true">Login</button>        
        </form>
    </div>

</div>